@import ./config

    

body
    margin: 0
    box-sizing: border-box
    background-color: #cedcda
    width: 100%


.step3
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 0
    height: 85vh
    background-color: #ccb6b6
    

.genre
    justify-content: space-evenly
    display: flex
    align-items: center
    height: 42vh
    width: 20em

    &__image
        height: 18vh


    &__age
        outline: 0
        border-width: 0 0 2px
        background-color: #ccb6b6
        border-color: #801a61
        text-align: center
        _color: grey
        font-size: 1.5em
        _width: 12em
        padding: 1em
        &__:focus
            border-color: green

.h4
    margin-top: 5vh










    