@import ./config

body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%

// .header-activity
//     display: flex
//     justify-content: space-evenly
//     align-items: center
//     background-color: #5bc8ac
//     height: 10%


    

.contenedor
    height: 70vh
    display: flex
    flex-direction: column
 
.logo
    display: flex
    justify-content: center
    flex: 3
    &__image
        border-radius: 100%
        margin-top: 30px
        height: 40vh
        

.logo-goal
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 60%
    flex: 4

    &__opciones
        border-radius: solid 1px black
        width: 200px
        margin-bottom: 0.5rem
        -webkit-appearance: none
        height: 10vh
        font-size: 130%
        border-radius: 0.8rem
        background-color: #e6d72a
        box-shadow: 0 0 18px #952a02
        color: black
        animation: changecolor 10s infinite
        &:hover
            filter: brightness(1.2)
    
.start
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 20vh
    flex: 0.5
    &__p
        margin-right: 1.2vh
    

@keyframes changecolor 
    0%  
        background: #41c4de
    25%  
        background: #8cc73f
    50%  
        background: #e6d72a
    75% 
        background: #f78e56
    100%  
        background: #41c4de