
body
    margin: 0
    box-sizing: border-box
    background-color: #cedcda
    width: 100%

.footer
    display: flex
    justify-content: space-evenly
    height: 15vh
    align-items: center
    background-color: #ccb6b6
    &__today
        -webkit-appearance: none
        width: 5em
        height: 5em
        border-radius: 50%
        background: #14abe2
    &__logout
        color: #bb58b3
        font-size: 2.2em
    &__diets
        color: black
        _display: flex
        background-color: aqua
        _justify-content: space-between
        height: 5em
        border-radius: 25%

.large-icon-size
    font-size: x-large
.land
    font-size: 1.5em
    height: 1.5em       
    
    


