body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%
    
.header
    position: fixed
    display: flex
    flex-direction: row
    align-items: center
    height: 10vh
    border-bottom: 1px black solid
    background-color: #e3c7c7
    _background-color: #b6dbe1
    width: 100%
    &__landing
        padding: 0.7rem 
        color: black
        font-family: monospace
         padding-left: 4em
         font-size: 1.5em
    &__kcl
        padding: 1.5em 0 1.5em 0 
        color: red
        font-family: monospace
        font-size: 1.6em
    &__name
        padding-left: 2em
        font-family: fantasy
    &__prev
        margin: 1em
        font-size: 1.5em
        

      
p
    font-size: large
    padding-left: 2em  
       