body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%
    
.header
    display: flex
    justify-content: space-evenly
    align-items: center
    margin: 3rem 2rem 2rem 2rem
    &__landing
        padding: 1rem 
        padding-right: 2rem
        color: red
        font-family: monospace
p
    font-size: large
        