body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%

.foods
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    _background-color: aliceblue
    _background-color: #edd387
    _border-radius: 13px
    _margin: 0.3em
    _padding: 0 1em 0 1em
    &__n
        font-family: fantasy
        color: blackfantasy
        font-size: 1.5em
        _margin-left: 1em
    &__q
        font-family: fantasy
        color: rgb(160, 72, 21)
        font-size: 1.5em
