@import ./Register/config

body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%

.main-landing
    display: flex
    flex-direction: column
    align-items: center
    height: 67vh
    &__diet
        width: 200px
        margin-bottom: 0.5rem
        -webkit-appearance: none
        height: 10vh
        font-size: 130%
        border-radius: 0.8rem
        background-color: #e68e5b
        box-shadow: 0 0 18px #952a02
        border: 1px black solid
        color: black
        text-align: center
    &__complicate
        width: 200px
        margin-bottom: 0.5rem
        -webkit-appearance: none
        height: 8vh
        font-size: 90%
        border-radius: 0.8rem
        background-color: #52d9e6
        box-shadow: 0 0 18px #14abe2
        border: 1px black solid
        color: black
        animation: changecolor 10s infinite
        text-align: center
        &:hover
            filter: brightness(1.2)

 

    

@keyframes changecolor 
    0%  
        background: #41c4de
    25%  
        background: #8cc73f
    50%  
        background: #f18d9e
    75% 
        background: #f78e56
    100%  
        background: #41c4de