body
    margin: 0
    box-sizing: border-box
    background-color: #98dbc6
    width: 100%
.results
    padding-top: 18vh
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20vh
    & > h2
        font-family: fantasy
        font-size: 3em
