@import config

body
    margin: 0
    box-sizing: border-box
    background-color: #ebb2a5
    width: 100%

.activity-page
    height: 100vh
    display: flex
    flex-direction: column
    
.header-activity
    display: flex
    justify-content: space-evenly
    align-items: center
    background-color: #caa6a6
    height: 15vh
    

.activity
    display: flex
    flex-direction: column
    margin-top: 5vh
    align-items: center
    flex: 4
    &__mmm
        width: 200px
        margin-bottom: 0.5rem
        -webkit-appearance: none
        _height: 10vh
        _font-size: 130%
        border-radius: 0.8rem
        background-color: #ea3759
        box-shadow: 0 0 18px #952a02
        color: snow
.h4
    font-size: medium



    