body {
  margin: 0;
  box-sizing: border-box;

  background-color: #98dbc6;

  width: 100%; }

.activity-page {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.header-activity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #5bc8ac;

  height: 15vh; }

.activity {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
  flex: 4; }
  .activity__mmm {
    width: 25em;
    margin-bottom: 0.8em;
    -webkit-appearance: none;
    _height: 10vh;
    _font-size: 130%;
    border-radius: 0.8rem;

    background-color: #e6d72a;
f
    box-shadow: 0 0 18px #952a02;
    color: black;
    padding: 1em; }

.h4 {
  font-size: medium; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #98dbc6;
  width: 100%; }

.medidas {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.edad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5bc8ac;
  height: 15vh; }

.genero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%; }

.button {
  justify-content: space-between;
  display: flex;
  width: 35vh; }
  .button__m {
    width: 100px;
    margin-bottom: 0.7rem;
    -webkit-appearance: none;
    _height: 10vh;
    _font-size: 130%;
    border-radius: 0.8rem;
    background-color: #e6d72a;
    box-shadow: 0 0 18px #952a02;
    color: black;
    padding: 3vh; }

.edad-antrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11%; }
  .edad-antrop__edad {
    width: 35vh;
    margin: 3vh;
    height: 6vh;
    border-radius: 10px;
    border-style: none;
    font-size: 1em;
    text-align: center;
    background-color: #ffffff; }

span {
  font-size: x-large; }

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #98dbc6;
  width: 100%; }

.contenedor {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.logo {
  display: flex;
  justify-content: center;
  flex: 3; }
  .logo__image {
    border-radius: 100%;
    margin-top: 30px;
    height: 40vh; }

.logo-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  flex: 4; }
  .logo-goal__opciones {
    border-radius: solid 1px black;
    width: 200px;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    height: 10vh;
    font-size: 130%;
    border-radius: 0.8rem;
    background-color: #e6d72a;
    box-shadow: 0 0 18px #952a02;
    color: black;
    animation: changecolor 10s infinite; }
    .logo-goal__opciones:hover {
      filter: brightness(1.2); }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  flex: 0.5; }

@keyframes changecolor {
  0% {
    background: #41c4de; }
  25% {
    background: #8cc73f; }
  50% {
    background: #e6d72a; }
  75% {
    background: #f78e56; }
  100% {
    background: #41c4de; } }
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #98dbc6;
    background-color-width: 100%; }

.main {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5bc8ac;
  height: 15vh; }
  .header__landing {
    font-size: large; }

.main-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  flex: 4; }
  .main-landing__diet {
    width: 200px;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    height: 10vh;
    font-size: 130%;
    border-radius: 0.8rem;
    background-color: #e6d72a;
    box-shadow: 0 0 18px #952a02;
    color: black; }
  .main-landing__complicate {
    width: 200px;
    margin-bottom: 0.5rem;
    -webkit-appearance: none;
    height: 8vh;
    font-size: 90%;
    border-radius: 0.8rem;
    background-color: #52d9e6;
    box-shadow: 0 0 18px #14abe2;
    color: black;
    animation: changecolor 10s infinite; }
    .main-landing__complicate:hover {
      filter: brightness(1.2); }

.footer-landing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  flex: 0.5;
  background: #f18d93; }
  .footer-landing__today {
    align-self: center;
    margin-top: 8px;
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: #14abe2; }

.large-icon-size {
  font-size: x-large; }

@keyframes changecolor {
  0% {
    background: #41c4de; }
  25% {
    background: #8cc73f; }
  50% {
    background: #f18d9e; }
  75% {
    background: #f78e56; }
  100% {
    background: #41c4de; } }

/*# sourceMappingURL=style.css.map */
